body {
margin : 0;
padding : 20px;
font : 76% Verdana, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
margin-bottom : 0.5em;
}
p {
margin-top : 0.5em;
margin-bottom : 0.9em;
}
a:link, a:visited {
text-decoration : none;
font-weight : bold;
}
a:hover {
text-decoration : underline;
} 
fieldset, pre {
border : 1px solid grey;
}
pre {
padding : 0.75em 1.5em;
}
tr.odd td, tr.even td {
padding : 0.3em;
}
table tr.odd, table tr.even, div.theme-info {
border : 0;
}
.form-item label {
font-size : 1em;
}
.item-list .title {
font-size : 1em;
}
.links, .comment .links {
margin-bottom : 0;
}
#header, #content, #footer, #header-links {
min-width : 760px;
width : 100%;
border-collapse: separate;
border: 0;
}
#header {
height : 200px;
background-repeat: repeat-x;
}
#logo {
border : 0;
padding : 0.5em;
}
#logo img {
float : left;
padding : 0 1em;
border : 0;
max-width: 250px;
max-height: 150px;
}
#menu {
padding : 0.5em 0.5em 0 0.5em;
text-align : left;
vertical-align : middle;
}
#navlist {
font-size : 1em;
padding : 0 0.8em 1.2em 0;
}
#subnavlist {
float: right;
padding : 0;
margin : 25px 20px;
font-size : 0.8em;
text-align: right;
}
#subnavlist li, #navlist li {
display: inline;
margin-left: 5px;
padding-left: 5px;
}
ul.links li.first {
border: 0;
}
#mission {
margin: 0 1em;
padding : 1.5em 2em;
}
#logo h1{
margin : 0.6em 0 0.6em 0;
padding : 0;
font-size : 1.8em;
}
.site-slogan {
font-size : 1em;
display : block;
margin : 0;
font-style : italic;
font-weight : bold;
}
a.site-name {
text-decoration: none;
}
a.site-name:hover {
text-decoration: underline;
}
#main {
padding : 0px;
}
#main-content {
padding: 0px;
margin: 5px 10px;
}
#help {
font-size : 0.9em;
margin-bottom : 1em;
}
.breadcrumb {
margin-bottom : 0.5em;
}
.messages {
padding : 0.3em;
margin-bottom : 1em;
}
.warning, div.warning {
border : 1px solid red;
}
#sidebar-first, #sidebar-second {
width : 21em;
vertical-align : top;
font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
background-repeat: repeat-y;
}
#sidebar-first {
background-image : url(images/l.jpg);
background-position: left;
}
#sidebar-first .block {
margin: 0 5px 0 20px;
}
#sidebar-second {
background-image : url(images/r.jpg);
background-position: right;
}
#sidebar-second .block {
margin: 0 20px 0 5px;
}
#sidebar-first .title, #sidebar-second .title {
padding : 5px;
text-align : center;
font-size : 1.3em;
}
#sidebar-first .title a, #sidebar-second .title a {
font-size : 1.1em;
}

.cl, .cr, #hl, #hr, #f-left, #f-right {
padding : 0;
margin : 0;
border : 0;
}
#f-right {
background-image : url(images/f-r.jpg);
background-repeat : no-repeat;
width : 30px;
vertical-align : bottom;
}
#f-left {
background-image : url(images/f-l.jpg);
background-repeat : no-repeat;
width : 30px;
}
#f-middle {
background-image : url(images/f-m.jpg);
background-repeat : repeat-x;
min-width : 700px;
}
.cl, .cr {
min-width : 11px;
width : 11px;
background-repeat : repeat-y;
}
#hl, #hr {
background-repeat : no-repeat;
width : 30px;
height : 200px;
}
#hl {
background-image : url(images/htl.png);
}
#hr {
background-image : url(images/htr.png);
}
#hm, #h-subnav {
background-image : url(images/htm.png);
background-repeat : repeat-x;
height : 200px;

}
#sidebar-first, #sidebar-second, #hl, #hr, .cl, .cr {
margin: 0;
padding: 0;
}
#hm {
vertical-align : middle;
}
#h-subnav {
vertical-align : top;
max-width: 300px;
}
.cl {
background-image : url(images/l.jpg);
}
.cr {
background-image : url(images/r.jpg);
}
#footer {
padding : 0;
font-size : 0.8em;
text-align : center;
margin : 0;
height : 63px;
}
.title, .title a {
font-weight : bold;
font-size : 1.3em;
margin : 0 auto;
}
.submitted {
margin: 0.5em;
font-size : 0.8em;
}
.block, .box {
padding : 0 0 1.5em 0;
}
.block {
padding-bottom : 0.75em;
margin-bottom : 1.5em;
}
#sidebar-first .block, #sidebar-second .block {
background-repeat : no-repeat;
background-position : center bottom;
border-bottom: 1px solid gray;
}
.block .title {
margin-bottom : 0.25em;
}
.box .title {
font-size : 1.1em;
}
.node {
margin : 0.5em 0 2em;
}
.sticky {
padding : 0.5em;
border : 1px solid gray;
}
.node .content, .comment .content {
margin : 0.5em 0 0.5em;
}
.node .taxonomy {
font-size : 0.8em;
padding-left : 1.5em;
}
.node .picture {
border : 1px solid gray;
float : right;
margin : 0.5em;
}
.comment {
border : 1px solid gray;
padding : 0.5em;
margin-bottom : 1em;
}
.comment .title a {
font-size : 1.1em;
font-weight : normal;
}
.comment .new {
text-align : right;
font-weight : bold;
font-size : 0.8em;
float : right;
}
.comment .picture {
border : 1px solid gray;
float : right;
margin : 0.5em;
}

#forum table, .content table {
width : 100%;
}
#forum td {
padding : 0.5em;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
height : 1.5em;
border : 1px solid gray;
}
ul.pager {
margin-top: 1em;
font-size: 0.8em;
}
#forum td .links {
padding-top : 0.7em;
font-size : 0.9em;
}
#profile .profile {
clear : both;
border : 1px solid gray;
padding : 0.5em;
margin : 1em 0;
}
#profile .profile .name {
padding-bottom : 0.5em;
}
.block-forum h3 {
margin-bottom : 0.5em;
}

/******************Colors************************/
body {
background-color : #e8e8e8;
}
table tr.odd, table tr.even, div.theme-info {
background-color : transparent;
}
.error, .warning, div.warning {
background-color : #f35959;
}
#header, #content, #footer, #header-links, #main, #mission {
background-color : #fff;
}
#sidebar-first, #sidebar-second {
background-color : #f9f9f9;
}
div.block-region {
background-color : orange;
}
.comment .new {
color : red;
}
#forum td.topics, #forum td.last-reply, div.admin-panel .body, div.admin-panel h3, #forum td.container, #forum td.forum, #forum td.posts, #aggregator .feed-source, .messages, .warning, div.warning, #footer, .sticky, pre {
background-color : transparent;
}
