body {
 color: #4b4b4b;
}
#header {
background-image: url(header-bg.jpeg)
}
#subnavlist, #subnavlist a, #logo a.site-name, .site-slogan {
color : #fff;
}
a:link, a:visited, #mission a, #mission a:visited, a:hover {
color: #3399cc;
}
ul.links li {
border-left: 1px solid #3399cc;
}
