#preview-body {
 width: 760px;   
 background-image: url(colored.png); 
 background-position: top; 
 background-repeat: repeat-x; 
 font : 0.9em Verdana, Arial, Helvetica, sans-serif; 
 border-collapse : collapse; 
 border: none;
 text-align: left;
 }
 
 #preview-body tr, #preview-body td {
 border: none;
 vertical-align: top;
 margin: 0; 
 padding: 0;
 } 
 #preview-header { 
 width: 760px; 
 height: 200px; 
 vertical-align: top;
 background-color: transparent;
 background-image: url(header.png); 
 background-repeat: no-repeat; 
 border: none;
 }
 #preview-logo {
 margin: auto 30px;
 max-height: 170px;
 float: left;
 }
 #preview-title {
 margin: 40px 0;
 }
 #preview-title h1 {
 font-size: 2em;
 }
 #preview-title a {
 color: #fff;
 text-decoration: none;
 border: none;
 }
 #preview-title a:hover {
 text-decoration: underline;
 }
 #preview-content, #preview-header-links {
 background-image: url(../l.jpg); 
 background-position: left; 
 background-repeat: repeat-y;
 }
 #preview-content div {
 padding: 10px 10px 10px 20px;
 }
 #preview-links, #header-right {
 padding: 5px 0;
 }
 #preview-header-links ul, #preview-subnav ul {
 margin-left: 15px;
 padding-left: 0;
 list-style: none;
 }
 #preview-header-links ul li, #preview-subnav ul li {
 display: inline;
 margin-left: 5px;
 padding-left: 5px;
 border-left: 1px solid;
 }
 #preview-subnav {
 width: 300px;
 float: right;
 position: relative;
 font-size: 0.8em;
 margin-right: 10px;
 padding: 15px;
 text-align: right;
 }
 #preview-header-links li a, #preview-subnav li a {
 font-weight: bold;
 }
 #preview-header-links ul li.first, #preview-subnav ul li.first {
 border-left: none;
 }
 #preview-sidebar, #header-right {
 background-image: url(../r.jpg); 
 background-position: right; 
 background-repeat: repeat-y;
 }
 #preview-sidebar {
 width: 18em; 
 background-color : #f9f9f9;
 }
 #preview-sidebar h3 {
 text-align: center;
 }
 #preview-sidebar div {
 margin: 10px 15px 10px 10px;
 }
 #preview-sidebar ul {
 list-style: none;
 padding-left: 20px;
 }
 #preview-footer {
 width: 760px; 
 height: 60px;
 border: none;
 margin: 0; 
 padding: 5px;  
 background-image: url(footer.jpg); 
 background-repeat: no-repeat;
 vertical-align: middle;
 }
 #preview-footer div {
 text-align: center; 
 margin: 5px;
 font-weight: normal;
 }
